#### Requirements for running the server ####
bleach==3.3.0
chardet==3.0.4
django==2.2.13
django-autocomplete-light==3.3.4
django-background-tasks==1.2.0
django-ckeditor==5.7.1
djangorestframework==3.9.1
google-cloud-storage==1.14.0
html2text==2018.1.9
pillow==7.2.0
python-decouple==3.1
pytz==2017.2
uWSGI==2.0.18
zxcvbn-python==4.4.18
oauth2client==4.1.3
pyOpenSSL==19.0.0
google-api-python-client==1.7.9

#### Required for postgresql database backend ####
psycopg2-binary==2.8.6

#### Requirements for development and testing ####
coverage==4.4.2
django-debug-toolbar==1.9.1
requests==2.21.0
requests-mock==1.7.0
selenium==3.141.0

#### Indirect requirements ####
# required by bleach 3.3.0
webencodings==0.5.1
six==1.12.0
packaging==20.9

# required by packaging 20.9
pyparsing==2.4.7

# required by Django 2.2.3
sqlparse==0.2.4

# required by django-ckeditor 5.7.1
django-js-asset==0.1.1 

# required by django-background-tasks 1.2.0
django-compat==1.0.15

# required by google-cloud-storage 1.14.0
google-cloud-core==0.29.1
google-api-core==1.13.0
google-resumable-media==0.3.2

# required by google-api-core 1.13.0
protobuf==3.9.0
google-auth==1.6.3
googleapis-common-protos==1.6.0
setuptools==53.0.0

# required by google-auth 1.6.3
cachetools==3.1.1
pyasn1-modules==0.2.5
rsa==4.0

# required by pyasn1-modules 0.2.5
pyasn1==0.4.5

# required by requests 2.21.0
certifi==2019.6.16
idna==2.8
urllib3==1.24.3

# required by oauth2client 4.1.3
httplib2==0.18.0

#required for the requests-oauthlib package
oauthlib==3.1.0

# required for orcid API oauth
requests-oauthlib==1.3.0

# required by pyOpenSSL 19.0.0
asn1crypto==0.24.0
cffi==1.12.3
pycparser==2.19
cryptography==2.7

# required by google-api-python-client 1.7.9
uritemplate==3.0.0 
google-auth-httplib2==0.0.3
